version: '2'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:19.0.1
    container_name: keycloak
    ports:
      - "8180:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    volumes:
      - ./config/realm.json:/opt/keycloak/data/import/realm.json
    entrypoint: "/opt/keycloak/bin/kc.sh start-dev --import-realm"