<turbo-stream action="update" target="{todo.id}-row">
    <template>
        <td>{todo.name}</td>
        <td>Done</td>
        <td>
            <form action="/secure/todos/{todo.id}" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Done" disabled>
            </form>
        </td>
        <td>
            <form action="/secure/todos/remove/{todo.id}" method="POST" enctype="multipart/form-data">
                <input type="submit" value="Remove">
            </form>
        </td>
    </template>
</turbo-stream>