<turbo-stream action="replace" target="{todo.id}-row">
    <template>
        <tr id="{todo.id}-row">
            <td>{todo.name}</td>
            <td>Done</td>
            <td>
                <form action="/secure/todos/{todo.id}" method="POST" enctype="multipart/form-data">
                    <input type="submit" value="Done" disabled>
                </form>
            </td>
            <td>
                <form action="/secure/todos/remove/{todo.id}" method="POST" enctype="multipart/form-data">
                    <input type="submit" value="Remove">
                </form>
            </td>
        </tr>
    </template>
</turbo-stream>