{#include index.html}
    {#title}My TODOs{/title}
    {#body}
        <div id="todotable">
        <h1>TODO List</h1>

        <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Completed</th>
        </tr>
        </thead>

        {#if todoList.size == 0}
            <tr>
                <td>No TODOs. Yay!</td>
            </tr>
            {#else}

                {#for todo in todoList}
                    <tr>
                    <td>{todo.id}</td>
                    <td>{todo.name}</td>
                    <td>{#if todo.completed} Done {#else} Open {/if}</td>
                    </tr>
                {/for}
        {/if}

        </table>
        </div>

        <div id="todocreation">
            <h1>Create TODO</h1>
            <form action="/todos" method="POST" enctype="multipart/form-data">
                <label for="name">TODO:</label>
                <input type="text" id="name" name="name" required>
                <br>
                <input type="submit" value="Create">
            </form>
        </div>
    {/body}
{/include}
