<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{#insert title}TODO App{/insert}</title>
        <link rel="stylesheet" href="css/todoApp.css">
        <script crossorigin="anonymous" src="https://unpkg.com/@hotwired/turbo@7.1.0/dist/turbo.es2017-umd.js"></script>
        {#insert additionalScript}{/insert}
    </head>
    <body>
        {#insert body}No content{/insert}
    </body>
</html>