{#include index}
    {#title}TODO App with Turbo Frames{/title}
    {#body}
        <!-- Putting a div tag around this section (with turbo-frame) with the same id causes the form with data-turbo-frame to fail -->
        <h1>TODO List</h1>
        <turbo-frame id="todolist" src="/todos">
            <div class="loader"></div>
        </turbo-frame>

        <h1>Create TODO</h1>
        <form action="/todos" method="POST" enctype="multipart/form-data" data-turbo-frame="todolist">
            <label for="name">TODO:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <input type="submit" value="Create">
        </form>
    {/body}
{/include}