{#include index}
    {#title}TODO App with Turbo Frames & Streams{/title}
    {#body}
        <h1>TODO List</h1>
        <turbo-frame id="todolist" src="/todos/stream">
            <img src="images/spinner.gif" alt="Loading">
        </turbo-frame>

        <h1>Create TODO</h1>
        <form action="/todos/stream" method="POST" enctype="multipart/form-data">
            <label for="name">TODO:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <input type="submit" value="Create">
        </form>
    {/body}
{/include}